<!DOCTYPE html>
<html lang="en" xmlns:th="http://www_thymeleaf_org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Hello Thymeleaf!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1_0"/>
    </head>
    <body style="margin: 0; padding: 50px 0px 0px 0px;background-color:#F6F4F1;">
        <table border="0" cellpadding="5" cellspacing="0" width="100%">
            <tr>
                <td  width="3%" style="text-align: center; background-color:#F6F4F1;">

                </td>
                <td width="94%" style="text-align: center; background-color:#e9b3b7;padding-top: 10px">
                    <img th:src="${url_email_header}" />
                </td>
                <td  width="3%" style="text-align: center; background-color:#F6F4F1;">

                </td>
            </tr>

            <tr>
                <td  width="3%"  style="text-align: center; background-color:#F6F4F1;">

                </td>
                <td  width="94%" style="text-align: left; background-color:#FFFFFF;  padding:0px 20px 0px 20px;">
                    <table cellpadding="5" cellspacing="0" style="width: 100%; min-height: 400px">
                        <tr>
                            <td colspan="2">
                                <p style="color: #595959;text-align: center;font-family: Arial, sans-serif; font-size: 20px;" >
                                  Hemos recibido tu solicitud de cambio de contraseña. A continuación te compartimos el código para continuar el proceso:  
                                </p>
                                <p></p>
                                
                            </td> 
                        </tr>
                        <tr> 
                            <td colspan="2">
                                <table style="text-align: center;width: 100%" >
                                    <tr>
                                        <td style="text-align: center;width: 50%">
                                            <p style="color: #595959;text-align: right;font-family: Arial, sans-serif; font-size: 21px; font-weight: 900" >Código:</p> 
                                        </td>
                                     
                                        <td style="text-align: center;width: 50%">
                                            <p th:text="${code}" style="color: #595959;text-align: left;font-family: Arial, sans-serif; font-size: 21px; font-weight: 900" ></p> 
                                        </td>
                                    </tr>
                                </table>
                            </td> 
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p th:text="${email_contact}" style="color: #7f99ab;text-align: center;font-family: Arial, sans-serif; font-size: 17px;" ></p> 
                            </td> 
                        </tr>
                        <tr>

                            <td style="text-align: right;">
                                
                                <a th:href="${url_facebook}" target="_blank">
                                    <img th:src="${url_facebook_image}"/>
                                </a>
                            </td>
                            <td style="text-align: left;">
                                <a th:href="${url_instagram}" target="_blank">
                                    <img th:src="${url_instagram_image}"/>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
                <td  width="3%" style="text-align: center; background-color:#F6F4F1;">

                </td>
            </tr>
            <tr>
                <td  width="3%"  style="text-align: center; background-color:#F6F4F1;">

                </td>
                <td  width="94%" style="text-align: center; background-color:#F6F4F1; ">
                    <table width="100%" cellpadding="5" cellspacing="0"  >
                        <tr>
                            <td style="text-align: center;">
                                <p th:text="${email_copyright}" style="color: #cccfd2;font-family: Arial, sans-serif; font-size: 15px;" ></p>  
                            </td>
                        </tr>
                        <tr>

                            <td style="text-align: center;">
                                <img th:src="${url_email_footer}"/>
                            </td>
                        </tr>
                    </table>
                </td>
                <td  width="3%"  style="text-align: center; background-color:#F6F4F1;">

                </td>
            </tr>
        </table>
    </body>
</html>
